<footer class="footer">
      <div class="footer__container">
        <div class="footer__col footer__col--logo">
          <img src="img/logo_sinfondo.png" alt="Mundo Gourmet" class="footer__logo">
        </div>

        <div class="footer__links footer__col footer__col--links">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="categoria.html">Categoría</a></li>
            <li><a href="categoria2.html">Categoría2</a></li>
            <li><a href="links.html">Enlaces</a></li>
          </ul>
        </div>

        <div class="footer__text footer__col footer__col--info">
          <p>Mundo Gourmet, desarrollado por Noé Andreu Serrano<br> para la asignatura Herramientas HTML y CSS.</p>
        </div>
      </div>
</footer>