<header>
      <div class="navbar">
        <div class="logo">
          <a href="index.html">
            <!--<img src="img/logo_sinfondo.png" alt="Logo Mundo Gourmet">-->
            <picture>
              <source 
                srcset="img/logo_sinfondo-400.webp 400w,
                        img/logo_sinfondo-800.webp 800w"
                type="image/webp">

              <img 
                src="img/logo_sinfondo.png"
                alt="Icono de la marca">
            </picture>
          </a>
        </div>

        <nav>
          <ul class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="categoria.html">Categoría</a></li>
            <li><a href="categoria2.html">Categoría2</a></li>
            <li><a href="links.html">Enlaces</a></li>
          </ul>
        </nav>
      </div>
</header>