<header>
      <div class="navbar">
        <div class="logo">
          <a href="index.html">
            <img src="img/logo_sinfondo.png" alt="Logo Mundo Gourmet">
          </a>
        </div>

        <nav>
          <ul class="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="categoria.html">Categoría</a></li>
            <li><a href="categoria2.html">Categoría2</a></li>
            <li><a href="links.html">Enlaces</a></li>
          </ul>
        </nav>
      </div>
</header>