html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header{
  width: 100%;
  top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #f2f2f2;
}

.logo img{
    height: 60px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}